<div id="top">
  <h1><img src="https://cdn.webshopapp.com/shops/94414/files/54025310/india-flag-icon-free-download.jpg" alt="" width="100px">India COVID19</h1>
</div>

<h2>Total Active Cases:{{posts.activeCases}}</h2>
<h2>Total Recovered:{{posts.recovered}}</h2>
<h2>Total Deaths:{{posts.deaths}}</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width: 20%;">Sr. No.</th>
      <th scope="col">States</th>
      <th scope="col">Total Infected</th>
      <th scope="col">Recovered</th>
      <th scope="col">Deceased</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts.regionData;index as i;">
      <th style="width: 20%;">{{i+1}}</th>
      <th>{{post.region}}</th>
      <th>{{post.totalInfected}}</th>
      <th>{{post.recovered}}</th>
      <th>{{post.deceased}}</th>
    </tr>
  </tbody>
</table>


<router-outlet></router-outlet>